<h2>Most Recent Pictures</h2>
<%= link_to "New Picture", "/pictures/new" %>


<ul>
	<% @most_recent_pictures.each do |picture| %>
		<li><%= link_to "#{picture.title}", "pictures/#{picture.id}" %></li>

	<% end %>
</ul>

